<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943038616556-kj8p4qnpci01ivmtul51si2a0fl9evqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943038616556-kj8p4qnpci01ivmtul51si2a0fl9evqe</string>
	<key>API_KEY</key>
	<string>AIzaSyBcXNkBgCB9Lg1gTkGY94cza8u5_TCyR9g</string>
	<key>GCM_SENDER_ID</key>
	<string>943038616556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Acho.CooperationApp</string>
	<key>PROJECT_ID</key>
	<string>cooperationapp-4acb9</string>
	<key>STORAGE_BUCKET</key>
	<string>cooperationapp-4acb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943038616556:ios:0fca58979720d1ba3426c9</string>
</dict>
</plist>